# https://fly.io/docs/reference/configuration/

app = "finnhub-relay"
primary_region = "mia"

[build]
  [build.args]
    NODE_ENV = "production"

[env]
  PORT = "8080"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 1

[[services]]
  protocol = "tcp"
  internal_port = 8080

  [[services.ports]]
    port = 80
    handlers = ["http"]

  [[services.ports]]
    port = 443
    handlers = ["tls", "http"]

  [services.concurrency]
    type = "connections"
    hard_limit = 100
    soft_limit = 50

[[vm]]
  cpu_kind = "shared"
  cpus = 1
  memory_mb = 256
